<!--エラーメッセージ-->
<%= render 'common/error', model: @book %>

<div>
  <!--左面-->
  <%= render 'common/side', user: @user, book: @book %>

  <!--右面-->
  <h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>