<h1>Welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
<p>
  In <i class="fa-solid fa-book"></i><b>Bookers,</b><br>
  you can share and exchange your opinions , inpressions , and emotions about various books!
</p>

<div>
  <div class="">
    <%= link_to "Log in", new_user_session_path, class: '' %>
  </div>
  <div class="">
    <%= link_to "Sign up", new_user_registration_path, class: '' %>
  </div>
</div>