<!--エラーメッセージ-->
<% if model.errors.any? %>
  <div class="" role="alert">
    <h3>
      <%= model.errors.count %> errors prohibited this obj from being saved:
    </h3>
    <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>